*{
 margin:0;
 padding:0;
 box-sizing:border-box;
 font-family: Arial, sans-serif;
}

body{
 background:#f4f6f8;
}

/* Header */
header{
 background: linear-gradient(to right, #000000, #2c5364);
 color:white;
 text-align:center;
 padding:20px;
}

/* Navigation */
nav{
 background:#b7b70f;
 padding:10px;
 text-align:center;
}

nav a{
 color:white;
 margin:10px;
 text-decoration:none;
 font-weight:bold;
}

/* Hero Section */
.hero{
 display:flex;
 justify-content:space-between;
 align-items:center;
 padding:50px;
 background: linear-gradient(to right, #000000, #2c5364);
 color:white;
}

.hero-text{
 width:60%;
}

.hero-img{
 width:40%;
 display:flex;
 justify-content:center;
}

.hero-img img{
 width:250px;
 height:250px;
 border-radius:50%;
 object-fit:cover;
 border:5px solid white;
}

/* Button */
.btn{
 display:inline-block;
 padding:10px 20px;
 margin:10px 10px 0 0;
 background:#ffd753;
 color:white;
 text-decoration:none;
 border-radius:5px;
}

.btn:hover{
 background:#793150;
}

/* Section */
section{
 background:white;
 margin:20px;
 padding:20px;
 border-radius:10px;
}

/* Skills */
.progress{
 background:#ddd;
 height:10px;
 border-radius:5px;
}

.progress-bar{
 height:10px;
 background:#4CAF50;
 border-radius:5px;
}

.html{
 width:90%;
}

.css{
 width:85%;
}

.js{
 width:75%;
}

/* Project */
.project-card{
 background:#fff;
 padding:15px;
 border-radius:10px;
 box-shadow:0 0 10px rgba(0,0,0,0.1);
}

/* Footer */
footer{
 background:black;
 color:white;
 text-align:center;
 padding:15px;
}