*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f4f6f8;
color:#333;
transition:0.3s;
}

/* HEADER */

header{
background:#0f172a;
color:white;
padding:15px;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
}

.nav-links{
display:flex;
gap:20px;
list-style:none;
}

.nav-links a{
color:white;
text-decoration:none;
}

#toggle{
padding:5px 10px;
cursor:pointer;
}


/* HERO */

.hero{
display:flex;
align-items:center;
justify-content:center;
padding:60px;
gap:50px;
}

.hero-left img{
width:200px;
height:200px;
border-radius:50%;
object-fit:cover;
border:4px solid #0f172a;
animation:fadeIn 2s;
}

.hero-right h1{
font-size:32px;
}

.hero-right button{
margin-top:10px;
padding:10px 20px;
background:#0f172a;
color:white;
border:none;
cursor:pointer;
}


/* SECTIONS */

.section{
padding:60px;
text-align:center;
}

.skills-container{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.skill{
background:#0f172a;
color:white;
padding:10px 20px;
border-radius:20px;
animation:slideUp 1s;
}


/* PROJECT */

.project-container{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.project-card{
background:white;
padding:20px;
width:250px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.2);
transition:0.3s;
animation:fadeIn 1s;
}

.project-card:hover{
transform:translateY(-10px);
}

.project-card button{
margin-top:10px;
padding:8px 15px;
background:#0f172a;
color:white;
border:none;
cursor:pointer;
}


/* CONTACT */

form{
display:flex;
flex-direction:column;
gap:10px;
width:300px;
margin:auto;
}

input,textarea{
padding:10px;
}


/* FOOTER */

footer{
background:#0f172a;
color:white;
padding:20px;
text-align:center;
}


/* DARK MODE */

.dark{
background:#0f172a;
color:white;
}

.dark header{
background:black;
}

.dark footer{
background:black;
}


/* ANIMATION */

@keyframes fadeIn{
from{opacity:0;}
to{opacity:1;}
}

@keyframes slideUp{
from{
transform:translateY(50px);
opacity:0;
}
to{
transform:translateY(0);
opacity:1;
}
}


/* MOBILE */

@media(max-width:768px){

.hero{
flex-direction:column;
}

.nav-links{
display:none;
}

}